<div id="site-title"></div>
<div class="nav">
    <div class="panel-title selected" id="portfolio" title="portfolio">p</div>
    <div class="panel-title" id="info" title="info">i</div>
    <div class="panel-title" id="contact" title="contact">c</div>
</div>
<div class="sliding-panel panel-shown" id="projects-panel">
</div>
<div class="sliding-panel panel-hidden" id="info-panel">
</div>
<div class="sliding-panel panel-hidden" id="contact-panel">
</div>
<div class="project-panel"></div>
<div class="clearfix"></div>