<div id="resume">
    <!--<div class="my-name">David Cameron</div>-->
    <!--<p class="contact-info">www.davidcameron.biz | dc@davidcameron.biz | 917.805.5249 | 280 Ocean Parkway #2H Brooklyn NY 11218</p>-->

    <p class="intro">A developer with more than 18 years in web development and 12 years in print design, I am
        constantly seeking to expand my skillset. Recent work has focused on mobile development using <strong>Backbone.js, Underscore, jQuery, RequireJS,</strong> <strong>PhoneGap/Cordova, JQuery Mobile, HTML5, CSS3, Sencha Touch 2, Corona SDK</strong> and <strong>Adobe AIR</strong>. In addition, I developed numerous projects using <strong>ActionScript 3/OOP</strong> programming and development. I have developed sites, site content, custom
        <strong>CMS</strong> solutions and <strong>photo uploaders/galleries </strong>using
        <strong>PHP</strong>, <strong>ASP</strong>, <strong>AJAX</strong> and <strong>Drupal</strong>, and developed
        and maintained <strong>MS SQL</strong> and <strong>MySQL</strong> databases. My expertise in web development is
        enhanced by my years of experience working in print, from which I bring a keen sense of layout and design as
        well as mastery of <strong>Adobe Photoshop</strong> and <strong>Adobe Illustrator</strong>.</p>

    <!--<div class="job" id="<%= jobID %>">-->
        <!--<div class="job-head"><div class="job-dates"><%= jobDates %></div><div class="job-title"><%= jobTitle %>, <%= employer %>.</div>-->
        <!--</p>-->
        <!--<div class="job-desc"><%= jobDescription %></div>-->
    <!--</div>-->

    <div class="job" id="citi">
        <div class="job-head"><div class="job-dates">7/12-Present</div><div class="job-title">Senior Front-End Developer, Citigroup.</div></div>
        <div class="job-desc">
            <p>Lead front-end development of the Portfolio module of <em>InView</em>, Citibank&apos;s Private Banking application. Deployed as both a web-based and hybrid mobile application, <em>InView</em> displays sortable and filterable financial data about the accounts, assets and liabilities managed by private bankers. Developed the underlying code structure of the Portfolio module using Backbone.js, Underscore, jQuery &amp; RequireJS. HTML5 templates were implemented using Underscore, and styles were coded in SCSS and transpiled to CSS3. In addition to using RequireJS for optimization prior to deployment, the application&apos;s DOM and CSS3 animations were optimized for use on mobile platforms, focusing on keeping the DOM light and using standard methods for hardware-accelerating animations.</p>
            <p>Following development of the module&apos;s structure, I provided instruction to the other members of my team on the use of the underlying technologies, as well as on-going support on their use. In addition to maintaining the over-all structure, I also developed several of the module&apos;s interconnected components.</p>
        </div>
    </div>

    <div class="job" id="jackMorton">
        <div class="job-head"><div class="job-dates">4/10-7/12</div><div class="job-title">Senior Flash/ActionScript Developer, Jack Morton Worldwide.</div></div>
        <div class="job-desc">
            <p>Led development of websites and tools built using ActionScript 3 for use by Verizon Telecom and Verizon Wireless employees.</p>
            <ul>
                <li>Coded three generations/versions of a website used by Verizon Telecom sales reps. The site provides information about product packages, special offers and sales techniques, as well as interactive tools for comparing and calculating the cost of different packages so they can provide that information to telephone customers on the fly. As the content for the sites requires regular updates but for internal reasons cannot be connected to a database, the assets are cataloged in an XML document that is parsed by the application before assets are loaded.</li>
                <li>Developed an Adobe AIR application for Android tablets, desktop and online (as Flash content) to promote Verizon&apos;s launch of FiOS Quantum. The app includes videos, a custom player, interactive content developed in-house and incorporates content developed independently by another agency.</li>
                <li>Led coding and development of a site announcing Verizon&apos;s launch of their “Rule The Air” campaign to all internal employees. Developed the site&apos;s framework and integrated site content developed by other team members. Created, as part of the launch site, an application that allowed users to create a “postcard” by layering different elements related to the “Rule The Air” campaign (e.g., slogans, icons, iconic backgrounds, images of models/figures used in the campaign). Leveraging custom AS3 classes for creating JPEGs out of BitmapData, PHP and MySQL, the postcard could then be sent to the email addresses of friends or fellow employees from within the application.</li>
                <li>Led coding and development of additional sites and web-based applications for Verizon Telecom and Verizon Wireless, promoting offers and products in advance of the Holiday Season, integrating content from other in-house developers, as well as content provided by partnering agencies.</li>
            </ul>
        </div>
    </div>

    <div class="job" id="freelance">
        <div class="job-head"><div class="job-dates">4/95-Present</div><div class="job-title">Web Developer &amp; Production Artist, Freelance.</div></div>
        <div class="job-desc">
            <ul>
                <li>In Progress: <em>Prospect Park Birds</em>, a mobile app for iOS and Android devices, developed with Backbone.js and PhoneGap/Cordova. The app provides a sortable catalog of the 200+ species of birds living and migrating through Brooklyn&apos;s Prospect Park annually, with photographs and information about each bird&apos;s appearance, habitat and seasonal frequency. Users will be able to update their Twitter status directly from the app in order to alert other bird watchers of recent sightings while keeping a record of which birds they’ve sighted.</li>
                <li>Developed <em>MetroSaver</em>, an AIR for Android mobile application for use by New Yorkers to easily calculate exact amounts to add to their MTA MetroCard so their card balance can be used entirely on fares.</li>
                <li>Took part in Research In Motion&apos;s BlackBerry Playbook Challenge, developing <em>Chess Clock</em>, a mobile application, prior to the launch of BlackBerry&apos;s Playbook tablet.</li>
                <li>Partnered with another agency and an animator to develop a Facebook app for Redbox, announcing Redbox&apos;s Valentine&apos;s Day promotion. The app led visitors through a series of steps animated with candy hearts, helping them choose a movie rental for Valentine&apos;s Day and ultimately delivering a promotion code for use at Redbox kiosks.</li>
                <li>Worked with the Dikkers Cartoon Company to produce an interactive feature on Redbox&apos;s website announcing their billionth rental. The feature displayed a growing stack of DVD boxes, on top of which perched Redbox&apos;s CEO in a space suit. After the animation had played, a user could upload a photo of themselves or take a picture using their computer&apos;s camera, and the animation would replay displaying their face inside the helmet of the space suit. By filling out a short form, a unique URL could be sent to friends that launched the site displaying the personalized animation with the sender&apos;s photo in place.</li>
                <li>Acknowledged and thanked by Véronique Brossier, the author of O’Reilly&apos;s <em>Developing Android Applications with Adobe AIR</em>, for assistance in reviewing and testing chapters of her book prior to publication.</li>
                <li>Developed many aspects of the Dikkers Cartoon Company&apos;s site for launch, including a custom video player with a full set of audio and playback controls. The video player rotated videos, offered code for embedding the videos in a separate site, and provided options for sharing the video via numerous social sites or directly with friends via email.</li>
            </ul>
            <p>Design and produce websites and web content. Code HTML and CSS by hand and using Dreamweaver for websites and HTML email newsletters. Produce interactive Flash animations and presentations. Produce illustrations, retouch digitized photographs, set and style type for annual reports, university newsletters, advertisements and other printed materials. Clients include TBWA/Chiat, Rodan + Fields, Frankfurt Balkind Partners, Silver Communications, PrimeLook, Estée Lauder, Prescriptives, Clinique, CityLimits.com, Flexigroup and New York University.</p>
        </div>
    </div>

    <div class="job" id="mammalfish">
        <div class="job-head"><div class="job-dates">4/05-4/10</div><div class="job-title">Developer, Mammalfish.</div></div>
        <div class="job-desc">
            <p>Worked as primary developer on a wide variety of projects for a boutique web development agency. Operated independently and in conjunction with other designers and programmers to design, develop and maintain websites, site content and RIAs. Used Adobe Flash and ActionScript 3 in the development of a variety of projects including:</p>
            <ul>
                <li>Sites developed entirely in Flash/AS3. Clients included HIT Entertainment (Thomas &amp; Friends, Bob the Builder, Angelina Ballerina) and Iconix Brands (Candies, OP, Rocawear, London Fog)</li>
                <li>Interactive and animated content used to update and enhance existing sites</li>
                <li>User forms that return validated data to ASP/PHP scripts for processing</li>
                <li>Photo and video galleries and “juke boxes”</li>
                <li>Client-managed RIAs (e.g., widgets, quizzes, promotional banners, galleries) drawing updatable content from XML files and SQL databases</li>
                <li>Banner advertisement campaigns</li>
                <li>Projects incorporating third-party AS3 libraries such as TweenLite/TweenMax and BulkLoader</li>
            </ul>
            <p>Other web technologies employed in these processes included ActionScript 2, CSS2, XHTML, AJAX libraries, PHP, ASP, XML and MS SQL and MySQL databases. Other projects have included: full site development from initial design comps through site building to launch; HTML email newsletters (within the limitations of email client support for CSS), forms built with validation using ASP/MS&nbsp;SQL, PHP/MySQL, and Flash/AS2 and AS3; custom photo uploader/resizer/galleries; logo development and design. Clients include HIT Entertainment (Thomas the Tank Engine, Bob the Builder, Angelina Ballerina), The Rachel Ray Show, Iconix Brands (Candies, OP, Rocawear, Badgley Mischka, London Fog), B&amp;G Foods, Power Pilates, The TED Prize, The American Association of Orthodontists, The Association of Executive Search Consultants, Oberon Media (casual gaming), Trepp and Magnitude Capital.</p>
        </div>
    </div>

    <div class="job" id="clinique">
        <div class="job-head"><div class="job-dates">2/99-4/05</div><div class="job-title">Designer, Clinique, Estée Lauder.</div></div>
        <div class="job-desc">
            <p>Worked on the development of Clinique&apos;s e-commerce website including assisting in the design of the site&apos;s interface.Maintained Clinique.com&apos;s Australia website.Rendered illustrations of cosmetic products and related objects.Retouched digital photographs for use in print and in-house comps.Designed and constructed a customized PostScript typeface for use in Clinique&apos;s printed materials, including the font&apos;s kerning tables and metrics.Handled any and all aspects of production for printed materials produced by Clinique&apos;s creative department including setting type, layout and pre-flight of posters, booklets and advertisements.</p>
        </div>
    </div>

    <div class="job" id="prescriptives">
        <div class="job-head"><div class="job-dates">8/94-4/95</div><div class="job-title">Illustrator/Production Artist, Prescriptives, Estée Lauder.</div></div>
        <div class="job-desc">
            <p>Generated all computer graphics and illustrations for the visual merchandising department of a major cosmetics corporation.</p>
        </div>
    </div>

    <div class="job" id="wawrzewski">
        <div class="job-head"><div class="job-dates">11/93-8/94</div><div class="job-title">Junior Designer, Wawrzewski Graphic Design.</div></div>
        <div class="job-desc">
            <p>Worked with designer James Wawrzewski to design and produce printed materials for a variety of clients.</p>
        </div>
    </div>
    <p class="section-title">Education</p>

    <p>9/86&ndash;6/91 S.U.N.Y. Binghamton. B.A., American and British Literature.</p>

    <p class="section-title">Other</p>

    <p>8/11 Took part in the Discovery Channel&apos;s quiz show <em>Cash Cab</em>. Crushed it.
    </p>
</div>
</div>